<h1>Editing room setting</h1>

<%= render "form", room_setting: @room_setting %>

<br>

<div>
  <%= link_to "Show this room setting", @room_setting %> |
  <%= link_to "Back to room settings", room_settings_path %>
</div>
