<h1>Editing room user</h1>

<%= render "form", room_user: @room_user %>

<br>

<div>
  <%= link_to "Show this room user", @room_user %> |
  <%= link_to "Back to room users", room_users_path %>
</div>
