<h1>Editing room user word</h1>

<%= render "form", room_user_word: @room_user_word %>

<br>

<div>
  <%= link_to "Show this room user word", @room_user_word %> |
  <%= link_to "Back to room user words", room_user_words_path %>
</div>
